/uploads/images/*
/.idea
/node_modules
/public/js/angular-animate
/public/js/angular
/public/js/angular-flash-alert
/public/js/angular-google-maps
/public/js/angular-resource
/public/js/angular-simple-logger
/public/js/bootstrap
/public/js/jquery
/public/js/lodash
/public/js/ng-file-upload
/public/js/angular-route