<div data-ng-controller="PoisController">
    <div ng-include="'views/menu.html'"></div>

    <section class="container">
        <h1>New Poi</h1>
        <div class="row">
            <form class="form-signin" data-ng-submit="create()" novalidate>
                <div class="col-md-4">
                    <div>
                        <label for="title" class="sr-only">Title</label>

                        <div>
                            <input type="text" data-ng-model="title" id="title" placeholder="Title" required autofocus
                                   class="form-control">
                        </div>
                    </div>

                    <div>
                        <label for="photo" class="sr-only">Photo</label>

                        <div>
                            <input type="text" data-ng-model="photo" id="photo" placeholder="Photo"
                                   class="form-control"/>
                        </div>
                    </div>
                    <div>
                        <label for="audio" class="sr-only">Audio</label>

                        <div>
                            <input type="text" data-ng-model="audio" id="audio" placeholder="Audio"
                                   class="form-control"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div>
                        <label for="coordinates" class="sr-only">Coordinates</label>
                        <ui-gmap-google-map id="coordinates" center='map.center' marker='' zoom='map.zoom'
                                            events='map.events'>
                            <ui-gmap-marker coords="map.clickedMarker" idKey="map.clickedMarker.id"
                                            options="map.clickedMarker.options">
                            </ui-gmap-marker>
                        </ui-gmap-google-map>
                    </div>
                </div>
                <div class="col-md-4 col-md-offset-4">
                    <br>
                    <div>
                        <button type="submit" class="btn btn-lg btn-success btn-block">Create POI</button>
                    </div>
                </div>
                <div data-ng-show="error">
                    <strong data-ng-bind="error"></strong>
                </div>
            </form>
        </div>
    </section>
</div>