<div data-ng-controller="PoisController">
    <div ng-include="'views/menu.html'"></div>

    <section data-ng-init="findOne()" class="container">
        <h1>Edit poi</h1>

        <div class="row">
            <form data-ng-submit="update()" novalidate class="form-signin">
                <div class="col-md-4">
                    <div>
                        <label for="title" class="sr-only">Title</label>

                        <div>
                            <input type="text" data-ng-model="poi.title" id="title" placeholder="Title" required
                                   autofocus class="form-control">
                        </div>
                    </div>

                    <div>
                        <label for="photo" class="sr-only">Photo</label>

                        <div>
                            <input type="text" data-ng-model="poi.photo" id="photo" placeholder="Photo"
                                   class="form-control"/>
                        </div>
                    </div>
                    <div>
                        <label for="audio" class="sr-only">audio</label>

                        <div>
                            <input type="text" data-ng-model="poi.audio" id="audio" placeholder="Audio"
                                   class="form-control"/>
                        </div>
                    </div>
                    <div>
                        <label for="description" class="sr-only">Description</label>

                        <div>
                            <textarea rows="5" type="text" data-ng-model="poi.description" id="description" placeholder="Description"
                                      class="form-control"></textarea>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div>
                        <label for="coordinates" class="sr-only">Coordinates</label>
                        <ui-gmap-google-map id="coordinates" center='poi.coordinates' marker='' zoom='map.zoom'
                                            events='map.events'>
                            <ui-gmap-marker coords="poi.coordinates" idkey="10">
                            </ui-gmap-marker>
                            <ui-gmap-marker coords="map.clickedMarker" idKey="map.clickedMarker.id"
                                            options="map.clickedMarker.options">
                            </ui-gmap-marker>
                        </ui-gmap-google-map>
                    </div>
                </div>
                <div class="col-md-4 col-md-offset-4">
                    <br>

                    <div>
                        <button type="submit" class="btn btn-lg btn-success btn-block">Update POI</button>
                    </div>
                </div>
                <div data-ng-show="error">
                    <strong data-ng-bind="error"></strong>
                </div>
            </form>
        </div>
    </section>
</div>