<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Tibor Trubarac">

    <title><%= title %></title>

    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/tagb.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="css/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
</head>
<body ng-app="tagb">
<section ng-view class="main-section"></section>

<script type="text/javascript">
    window.user = <%- user || 'null' %>;
</script>

<script src='//maps.googleapis.com/maps/api/js?sensor=false'></script>

<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/mean.js"></script>

<script type="text/javascript" src='/js/lodash/lodash.min.js'></script>

<script type="text/javascript" src="/js/angular/angular.js"></script>
<script type="text/javascript" src='/js/angular-simple-logger/dist/index.js'></script>
<script type="text/javascript" src='/js/angular-google-maps/dist/angular-google-maps.min.js'></script>
<script type="text/javascript" src="/js/angular-route/angular-route.min.js"></script>
<script type="text/javascript" src="/js/angular-resource/angular-resource.min.js"></script>

<script type="text/javascript" src="/poi/poi-client-module.js"></script>
<script type="text/javascript" src="/poi/poi-client-controller.js"></script>
<script type="text/javascript" src="/poi/poi-client-service.js"></script>
<script type="text/javascript" src="/poi/poi-client-routes.js"></script>

<script type="text/javascript" src="/user/user-client-module.js"></script>
<script type="text/javascript" src="/user/user-authentication-service.js"></script>

<script type="text/javascript" src="/tagb/tagb-main-client-module.js"></script>
<script type="text/javascript" src="/tagb/tagb-main-client-controller.js"></script>
<script type="text/javascript" src="/tagb/tagb-main-client-routes.js"></script>

<script type="text/javascript" src="/application.js"></script>
</body>
</html>