<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Tibor Trubarac">

    <title><%= title %></title>

    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/tagb.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="css/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
</head>
<body ng-app="tagb">
	<nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <a class="navbar-brand" href="/">TAGB</a>
            </div>
        </div>
    </nav>

    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-md-offset-3">
						<form class="form-signin" action="/register" method="post">
							<h2 class="form-signin-heading text-center">Register</h2>
							<br>
							<% for(var i in messages) { %>
							<div class="flash">
								<div class="alert alert-danger"><%= messages[i] %></div>
							</div>
							<% } %>
							<label for="username" class="sr-only">Username</label>
							<input type="text" id="username" name="username" class="form-control" placeholder="Username"
								   required autofocus>

							<label for="name" class="sr-only">Name</label>
							<input type="text" id="name" name="name" class="form-control" placeholder="Name" required
								   autofocus>

							<label for="email" class="sr-only">E-mail</label>
							<input type="email" id="email" name="email" class="form-control" placeholder="E-mail"
								   required>

							<label for="password" class="sr-only">Password</label>
							<input type="password" name="password" id="password" class="form-control"
								   placeholder="Password" required>

							<button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
						</form>

						<br>
					</div>
				</div>
			</div>
        </div>
    </section>

	<script src='//maps.googleapis.com/maps/api/js?sensor=false'></script>

	<script type="text/javascript" src="/js/jquery.js"></script>
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/js/mean.js"></script>

	<script type="text/javascript" src='/js/lodash/lodash.min.js'></script>

	<script type="text/javascript" src="/js/angular/angular.js"></script>
	<script type="text/javascript" src="/js/angular-animate/angular-animate.min.js"></script>
	<script type="text/javascript" src="/js/angular-flash-alert/dist/angular-flash.min.js"></script>
	<script type="text/javascript" src="/js/ng-file-upload/ng-file-upload.min.js"></script>
	<script type="text/javascript" src='/js/angular-simple-logger/dist/index.js'></script>
	<script type="text/javascript" src='/js/angular-google-maps/dist/angular-google-maps.min.js'></script>
	<script type="text/javascript" src="/js/angular-route/angular-route.min.js"></script>
	<script type="text/javascript" src="/js/angular-resource/angular-resource.min.js"></script>

	<script type="text/javascript" src="/poi/poi-client-module.js"></script>
	<script type="text/javascript" src="/poi/poi-client-controller.js"></script>
	<script type="text/javascript" src="/poi/poi-client-service.js"></script>
	<script type="text/javascript" src="/poi/poi-client-routes.js"></script>

	<script type="text/javascript" src="/user/user-client-module.js"></script>
	<script type="text/javascript" src="/user/user-authentication-service.js"></script>

	<script type="text/javascript" src="/tagb/tagb-main-client-module.js"></script>
	<script type="text/javascript" src="/tagb/tagb-main-client-controller.js"></script>
	<script type="text/javascript" src="/tagb/tagb-main-client-routes.js"></script>

	<script type="text/javascript" src="/application.js"></script>
</body>
</html>